/* tb rl */
/* t r b l */
/*
input, textarea {
  font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-size: 1em;
  width: 186px;
}
*/
.rform_item {
  clear: both;
}
.rform_entry {
  clear: both;
}
.rform_key {
  padding: 2px 2px 2px 0px;
  margin: 2px 2px 2px 0px;
  float: left;
}
.rform_value {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px black solid;
  padding: 2px;
  margin: 2px;
  float: left;
}
.rform_new_type {
  margin-left: 5px;
}
.rform_buttons img {
  margin-top: 4px;
  margin-left: 2px;
  cursor: pointer;
}
.rform_buttons {
  float: left;
}
.rform_hash > .rform_buttons {
  clear: both;
}
.rform_item > .rform_buttons {
}
.rform_item > * {
  float: left;
}

a.rform_button {
  display: inline-block;
  padding: 0;
  margin: 0 -1px;
  width: 12px;
  height: 12px;
  background: transparent url(/images/rform_buttons.png) no-repeat;
}
a.rform_button_add {
  background-position: 0 0;
}
a.rform_button_cut {
  background-position: 0 -20px;
}
a.rform_button_moveup {
  background-position: 0 -40px;
}
a.rform_button_movedown {
  background-position: 0 -60px;
}
a.rform_button_paste {
  background-position: 0 -80px;
}
a.rform_button_add:hover {
  background-position: -20px 0;
}
a.rform_button_cut:hover {
  background-position: -20px -20px;
}
a.rform_button_moveup:hover {
  background-position: -20px -40px;
}
a.rform_button_movedown:hover {
  background-position: -20px -60px;
}
a.rform_button_paste:hover {
  background-position: -20px -80px;
}
